$cl-red: #DC0000;

.main-content {
    padding: 25px 0 100px 0;
    background-image: url("../img/bg2.png");
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;

    @media (max-width: 1600px) {
        background-size: cover;
    }

    @media (max-width: 414px) {
        padding: 25px 0 25px 0;
    }
}

.page-content {
    .header {
        display: flex;
        // align-items: center;
        margin-bottom: 75px;

        .logo {
            padding: 10px 15px 10px 0;
            border-right: 1px solid #666;

            img {
                width: 175px;
            }

        }

        .brand {
            padding: 15px;

            .title {
                font-weight: 700;
                text-transform: uppercase;
            }

            .sub-title {
                span {
                    font-weight: 700;
                }
            }
        }
    }

    &__upper {
        margin-bottom: 50px;

        .sec-left {
            .image {
                margin-bottom: 50px;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .com-title {
                text-align: center;

                .title {
                    font-weight: 900;
                    font-size: 35px;
                    color: $cl-red;

                    @media (max-width: 414px) {
                        font-size: 30px;
                    }
                }

                .sub-title {
                    font-weight: 400;
                    font-size: 24px;

                    span {
                        font-weight: 700;
                        font-size: 24px;
                        color: $cl-red;
                    }
                }
            }

            @media (max-width: 414px) {
                margin-bottom: 50px;
            }
        }

        .sec-right {
            .box-content {
                margin-top: 100px;
                position: relative;

                .wheel-with-image {
                    margin: 0 auto;
                    position: relative;

                    &::before {
                        position: absolute;
                        content: '';
                        background: url("../img/mshoa.png");
                        top: -300px;
                        left: 50%;
                        width: 336px;
                        height: 509px;
                        transform: translateX(-50%);
                    }
                }

                .button {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #FFD759;
                    // background: #455a64ad;
                    font-size: 25px;
                    font-weight: 700;
                    width: 125px;
                    height: 125px;
                    border-radius: 50%;
                    background: url("../img/button3.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-color: transparent;
                    cursor: pointer;
                    line-height: 1.2;

                    &:focus {
                        outline: none;
                    }
                }

                .outline {
                    position: absolute;
                    content: '';
                    top: -20px;
                    width: 420px;
                    height: 420px;
                    left: 50%;
                    transform: translateX(-50%);

                    @media (max-width: 414px) {
                        width: 370px;
                        height: 370px;
                    }
                }
            }

            .com-title {
                text-align: center;
                margin: 25px 0 10px 0;

                .title {
                    font-weight: 700;
                    font-size: 18px;
                    margin-bottom: 5px;
                }
            }

            .form-register {
                input {
                    padding: 7px 20px;
                }

                select {
                    // height: 40px !important;
                    margin: 8px 0;
                }

                .btn {
                    margin-top: 15px;
                    display: block;
                    width: 100%;
                    text-transform: uppercase;
                    color: #db0000;
                    font-weight: 600;
                    letter-spacing: 5px;
                    padding: 7px 20px;
                    font-weight: 700;
                }
            }
        }
    }

    &__middle {
        margin-bottom: 50px;

        .thumb {
            position: relative;
            // border: 1px solid red;

            .image {
                // padding: 5px;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .link {
                position: absolute;
                content: '';
                right: 0;
                width: 500px;
                height: 100px;

                &.link-pre {
                    top: 4%;
                    // background-color: #00000070;
                }

                &.link-toeica {
                    top: 29%;
                    // background-color: #00000070;
                }

                &.link-toeicb {
                    top: 53%;
                    // background-color: #00000070;
                }

                &.link-800 {
                    top: 78%;
                    // background-color: #00000070;
                }

                @media (max-width: 414px) {
                    width: 150px;
                    height: 35px;
                }
            }
        }
    }

    &__lower {
        .section-branch {
            .heading {
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;

                @media (max-width: 414px) {
                    font-size: 20px;
                }
            }

            .sub-heading {
                font-size: 18px;
                margin-bottom: 35px;

                @media (max-width: 414px) {
                    font-size: 16px;
                }
            }

            .branch-list {
                display: flex;
                justify-content: space-between;

                .branch-child {
                    margin-bottom: 20px;

                    .title {
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: 15px;
                    }

                    .list-branch-child {
                        p {
                            margin-bottom: 10px;
                        }
                    }
                }


                @media (max-width: 414px) {
                    display: unset;
                }
            }

            .list-social {
                padding-top: 20px;
                border-top: 1px solid #ccc;

                a {
                    svg {
                        width: 25px;
                        margin-right: 15px;
                    }

                    &:nth-child(1) {
                        svg path {
                            fill: #3b5999;
                        }
                    }

                    &:nth-child(2) {
                        svg path {
                            fill: #34465d;
                        }
                    }

                    &:nth-child(3) {
                        svg {
                            width: 30px;

                            path {
                                fill: #cd201f;
                            }
                        }
                    }
                }
            }
        }

    }
}