body {
  font-size: 14px !important;
  color: #333;
  background-image: url("../img/bg.png");
  // background-color: #f8f8f8;
  // height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif !important;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.text-center {
  text-align: center !important;
}

.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out,
    border-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
  position: relative;
  z-index: 9;
}

.button:hover {
  // transition: all 150ms linear;
  // opacity: 0.85;
}

.button:active {
  transition: all 150ms linear;
  opacity: 0.75;
}

.button:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}

.button.button-primary {
  color: #ffffff;
  background: #455a64;
}

.button.button-block {
  width: 100%;
}

.button:disabled {
  opacity: 0.5;
  cursor: no-drop;
}

.swal2-popup .swal2-styled.swal2-confirm,
.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #455a64;
  font-size: 12px;
  border: 1px solid #455a64;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}